.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  // helped w/ allowing the bottom to be placed ontop of the item
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom:  5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    // we want it always absolutely positioned at the bottom of the item
    position: absolute;
    top: 255px;
    // hides the 'Add to cart' button 
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    // this it's displayed when user hovers over item
    .custom-button {
      opacity: 0.85;
      // doesn't display without flex
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    // the 5% remaining since image takes up 95%
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}