/* everyting inside body */
body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a { 
  text-decoration: none;
  color: black
}
/* universal selector */
* {
  /* style to adjust the protruding inputs style */
  box-sizing: border-box;
}